<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title> Cross Site Scripting </title>
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body style="background-color: black;">
	<header>
		<h1>XSS</h1>
	</header>